body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;

.header {
    background: linear-gradient(135deg, black, red);
    color: white;
    text-align: center;
    padding: 50px;
}
.nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-size: 16px;
    transition: color 0.3s ease;
}

.nav a:hover {
    text-decoration: underline;
    color: #ffcccc;
}

.box {
    background: linear-gradient(135deg, black, red);
    color: white;
    margin: 20px;
    padding: 30px;
    border-radius: 8px;
}

.skills-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 20px;
}

.skill-box {
    background-color: #400000;
    color: white;
    padding: 15px 30px;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;

    transition: all 0.3s ease;
}

.skill-box:hover {
    background-color: red;
    transform: scale(1.1);
    box-shadow: 0 0 15px red;
}
.footer {
    background: linear-gradient(135deg, black, red);
    color: white;
    text-align: center;
    padding: 50px;
}
@media (max-width: 600px) {
    .nav a {
        display: block;
        margin: 5px 0;
    }

    .box {
        margin: 10px;
    }

    .skill-box {
        width: 80%;
    }
}
}